<mat-sidenav-container class="h-screen">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <!-- Menu do ADMIN -->
      <ng-container *ngIf="isAdmin">
        <a mat-list-item routerLink="/admin/alunos">Alunos</a>
        <a mat-list-item routerLink="/admin/professores">Professores</a>
        <a mat-list-item routerLink="/admin/cursos">Cursos</a>
        <a mat-list-item routerLink="/admin/matriculas">Matrículas</a>
        <a mat-list-item routerLink="/admin/semestres">Semestres</a>
      </ng-container>
      <!-- Você pode adicionar menus do Professor/Aluno aqui depois -->
    </mat-nav-list>

    <button mat-raised-button color="warn" (click)="logout()">Sair</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
