@import '../../../admin/pages/alunos/alunos.component.scss';
.container { width: 100%; max-width: 92%; margin: 0 auto; }
.form-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(260px,1fr)); gap: 16px; margin-bottom: 16px; }
table { width: 100%; margin-top: 10px; }
